@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    background-color: #8ec1da;
}

h1 {
    font-family: 'Share Tech Mono', monospace;
    font-size: 70px;
    padding: 10px;

    text-align: center;
}

canvas {
    border-radius: 8px;

    margin-left: auto;
    margin-right: auto;
    display: block;
}