* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aquamarine;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#snake {
    max-width: 100vw;
    border: 2px solid grey;
}

.controles {
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

button {
    padding: 8px;
    margin: 8px;
    min-width: 120px;
    border-radius: 4px;
}

.disabled {
    pointer-events: none;
}

@media screen and (min-width:950px) {
    .controles {
        display: none;
    }
}