@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', cursive;
}

body {
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
}

.tab {
    font-size: 18px;
    line-height: 30px;
    padding: 0 2% 0 2%;
}